In [1]:
print("Hello world!")

Hello world!

In [2]:
print("Hello")

Hello

In [3]:
print("Hi all! How are you guyz?")

Hi all! How are you guyz?

In [4]:
print("this time i am using single quote")

this time i am using single quote

In [5]:
print('hello friends')

hello friends

In [6]:
hello=1+2

In [7]:
print(hello)

3

In [8]:
x=45
y=10
z=x+y

In [9]:
z

55

In [10]:
print("z=",z)

z= 55

In [11]:
print(x)

45

In [12]:
l=x%y

In [13]:
l

5

In [14]:
print(y)

10

In [15]:
print(x+y)

55

In [16]:
a=5
b=9
c=a/b
print("c",c)

c 0.5555555555555556

In [17]:
a=50
b=10
z=a*b

In [18]:
print("z",z)

z 500

In [19]:
s=a//b

In [20]:
s

5

In [21]:
w=34
e=45
z=w+e

In [22]:
print("value of z   ",z)

value of z    79

In [23]:
'a'+str(5)+'b'

'a5b'

In [24]:
my_list=[1,3,'a']

In [25]:
print(my_list)

[1, 3, 'a']

In [26]:
type(my_list)

list

In [28]:
print("the value of w and e are",w,"&",e,"respectively")

the value of w and e are 34 & 45 respectively

In [29]:
x=10
y=5
print("multiplication of x and y is",x*y)

multiplication of x and y is 50

In [30]:
a=56
b=78
c=a*b
print("c=",c)

c= 4368

In [31]:
tuple(my_list)

(1, 3, 'a')

In [32]:
len(1234)

TypeError: object of type 'int' has no len()

In [33]:
len(my_list)

3

In [34]:
type(my_list)

list

In [35]:
tuple(my_list)

(1, 3, 'a')

In [36]:
arup=[1,7,9.0,'a']

In [37]:
arup.append(4)

In [38]:
arup

[1, 7, 9.0, 'a', 4]

In [39]:
def add_num(*args):
    return num1+num2
add_num(12,34)
print("Result is ",add_num)

NameError: name 'num1' is not defined

In [40]:
def add_num(*args):
    return args+args
add_num(12,34)

(12, 34, 12, 34)

In [41]:
def arup(num1,num2):
    return num1+num2
arup(90,90)

180

In [48]:
def arup(num1,num2,num3):
    z=str(num1)+num2+num3    
    return z
arup(1,2,3)

TypeError: can only concatenate str (not "int") to str

In [1]:
a=9
b=9
c=a+b
print('The value of c = ',c)

The value of c =  18

In [2]:
print('a=',a,'b=',b,'c=',c)

a= 9 b= 9 c= 18

In [24]:
def arup(x,y,z):
    a=x+y+z
    #return a
    if a<50:
        print('CONGRATS Arup!,you have scored 90')
    else:
        print('Alas Arup you have failed')
arup(23,2,400)

Alas Arup you have failed

In [15]:
arup(45,56,78)

179

In [29]:
def arup(a,b,c):
    z=str(a)+str(b)+c
    t=(z)
    len(t)
    #return z
    if len(t)<3:
        print('CONGRATS Arup!,you have scored 90')
    else:
        print('Alas Arup you have failed')
arup(23,2,'a')

Alas Arup you have failed

SyntaxError: invalid syntax (4108373834.py, line 1)

In [32]:
esa=0
for arup in range(1,101):
    esa+=arup
print(esa)

5050

In [4]:
x=6
y=9
z=(x+y)**2

In [5]:
z

225